name: Workflow Commands Learning
on:
  push:
    branches:
      - '**'
jobs:
  testing-wf-commands:
    runs-on: ubuntu-latest
    steps:
      - name: Setting an error message
        run: echo "::error::This is an error message from the workflow!"