name: Workflow Commands Learning
on:
  push:
    branches:
      - '**'
jobs:
  testing-wf-commands:
    runs-on: ubuntu-latest
    steps:
      - name: Setting an error message
        run: echo "::error::This is an error message from the workflow!"
      - name: Setting an error message with parameters
        run: echo "::error file=app.js,line=10,col=15::Syntax error in app.js at line 10, column 15"